/* -------------------------------------------------------------------------- */
/*                                main stylings                               */
/* -------------------------------------------------------------------------- */

body {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/*                                header styles                               */
/* -------------------------------------------------------------------------- */

.team-profile-header {
  background-color: #f1a30b;
}

/* -------------------------------------------------------------------------- */
/*                               employee cards                               */
/* -------------------------------------------------------------------------- */

.employee-header {
  background-color: #f1a30b;
}
